body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Spartan", sans-serif;
  background-image: url("https://i.pinimg.com/originals/f2/20/40/f220409555a27e0973a7084caf1caa56.jpg");
  color: white;
}
h1 {
  text-align: center;
}
